@model JobOfferViewModel

@{
    ViewData["Title"] = "Job Offers";
}
<div class="col-sm-12">
    <div class="col-12">
        <h2 class="h3 d-inline-block">Available job offers</h2>
        <span class="badge badge-pill badge-primary align-top">
            @Model.JobOffersCount
        </span>
    </div>
    <div class="col-6">
        @*@using (Html.BeginForm("Index", "JobOffer", FormMethod.Get))
            {*@
        <div class="input-group mb-3" style="margin-bottom: 14px">
            <input type="text" class="form-control" placeholder="Search"
                   name="searchString" id="Search" aria-label="Search by job title" aria-describedby="basic-addon2"/>
            <div class="input-group-append">
                <button class="btn btn-outline-primary" id="SearchButton">
                    <i class="fas fa-search"></i>
                    Search
                </button>
            </div>
        </div>
        @*}*@
    </div>
    <div class="col-6">
        <a href="@Url.Action("Create", "JobOffer")">
            <button class="btn btn-outline-primary">
                <i class="fa fa-plus pr-3"></i>
                Create new offer
            </button>
        </a>
    </div>
</div>


<div id="JobOfferList">

</div>



@section Scripts
{
    <script>

    $(document).ready(function () {
        $("#JobOfferList").load('@(Url.Action("GetJobOffers","JobOffer", new { sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter}))');
        $("#SearchButton").click(search);
    });

    function search() {
        var searchString = $("#Search").val();
        var link = '@(Url.Action("GetJobOffers",
                                        "JobOffer",
                                        new { sortOrder = ViewBag.CurrentSort,
                                            currentFilter = ViewBag.CurrentFilter}))' + '?searchString=' + searchString;
        $("#JobOfferList").load(link);
        }

         function GetJobOffersList(url) {
        $("#JobOfferList").load(url);
    }
    </script>
}