@{
    ViewData["Title"] = "Home Page";
}
@using System.Security.Claims;

<div class="jumbotron">
    <h1 class="display-4">Welcome @User.FindFirst(ClaimTypes.GivenName).Value!</h1>
    <p class="lead">Looking for a something exciting? Spend hours of your time reading random applications!</p>
    <hr class="my-4">
    <p>Don't wait start now.</p>
</div>